////////////////////////////////////////
////////////// Work Style //////////////
////////////////////////////////////////
.work {
  margin: 0 auto;
  padding: 10px 100px 40px;
}

.work-filter {
  font-size: 16px;
  color: #353353;
  margin-top: 50px;
  margin-bottom: 50px;
}

.work-filter a {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-right: 30px;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    color: #ff3e28;
  }
}

.active {
  color: #ff3e28;
}

.project-view-container {}

.project-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 1.7;
  margin-bottom: 30px;
}

.project-element {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
  height: 35vh;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  &:hover {
    > .project-image {
      opacity: 0.3;
    }
    > .project-info {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    > .git-hub-link {
      opacity: 1;
    }
    > .project-category {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    background-color: #5E5C7F;
  }
  @media (max-width: 1800px) {
    height: 40vh;
  }
}

.load-more-projects {
  text-align: center;
  > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

.project-image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  border-radius: 15px;
}

.project-image h2 {
  position: absolute;
  bottom: 15px;
  left: 10px;
  z-index: 1000;
}

.project-info {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  text-align: center;
  color: #FFF;
  height: 100%;
  width: 100%;
  z-index: 1;
  > .project-title {
    text-align: left;
    padding: 30px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  }
}

.git-hub-link {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: 0;
  transition: 0.4s ease-in-out;
  > i {
    font-size: 38px;
    color: #ffd15c;
  }
}

.project-category {
  color: #FFF;
  background: #FF4C60;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14px;
  opacity: 0;
  display: inline-block;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  left: 20px;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  -o-transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

////////////////////////////////////////
/////////// Research Interest //////////
////////////////////////////////////////
.interest-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 100px 40px;
  height: 100%;
  overflow: auto;
}

.interest-element-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-content: flex-start;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  > .interest-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33.3%;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;

    &:hover {
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -moz-transform: translateY(-20px);
      transform: translate(0, -20px);;
    }

    > h3 {
      color: #353353;
      font-size: 24px;
    }
    > img {
      width: 50%;
    }
    > a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
    > p {
      color: #8c8a8a;
    }
  }

  > .center-pos {
    z-index: 1;
    padding: 85px 55px;
    position: relative;

    > span {
      color: #FFF;
      background: #6C6CE5;
      transform: rotate(-90deg);
      position: absolute;
      left: 0;
      top: 46px;
      padding: 7px 24px;
      font-size: 14px;
      font-weight: 400;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  > .side-pos {
    margin-top: 3%;
    height: 80%;
    z-index: 0;
    padding: 55px 45px;
  }
}

////////////////////////////////////////
////////////// Blog Style //////////////
////////////////////////////////////////

.blog-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px 100px 40px;
  height: 100%;
  overflow: auto;
}

.blog-element-container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  > .blog-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 40vh;
    width: 31%;
    background-color: #fcf8f8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(-20px);
    }
    > .blog-image{
      background-color: #fcf8f8;
      display: flex;
      justify-content: center;
      position: absolute;
      height: 60%;
      top: 0;
      left: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      > img {
        width: 30%;
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    > a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
    > .blog-description {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 10px 25px;
      background-color: #fff;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      color: #353353;
      > h2 {
        transition: all 0.3s ease-in-out;
        font-size: 22px;
        &:hover {
          color: #ff3e28;
        }
      }

      > .blog-date {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-top: 10px;
        padding-bottom: 10px;
        > .datum {
          color: #8d8b8b;
        }
        > .author {
          color: #ff3e28;
        }
      }
    }
  }
}


////////////////////////////////////////
////////////// Contact  ////////////////
////////////////////////////////////////

.contact-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 100px 40px;
  height: 100%;
  overflow: hidden;
  > .contact-form-container {
    color: #353353;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    > .contact-description {
      padding: 30px 0px;
      > h2 {
        z-index: 100;
      }
      > .contact-me-image {
        width: 60%;
        z-index: -1;
        opacity: 0.5;
        -webkit-transform: translate(-120px, -375px);
        -ms-transform: translate(-120px, -175px);
        transform: rotate(-30deg) translate(-120px, -175px);
        animation: roll 6s infinite
      }
      > img {
        z-index: 1;
      }
      > p a {
        color: #ff7769;
        text-decoration: none;
      }
    }
    > .contact-form {
      margin-right: 190px;
      z-index: 101;
    }
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
  position: relative;
  margin-bottom: 15px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.stack-description {
  position: absolute;
  left: 40%;
  color: #8c8a8a;
  font-size: 12px;
}

.tech-stack-container {
  margin-top: 10%;
  width: 100%;
  float: right;
  height: 130px;
  padding: 10px;
}

.tech-stack-badge {
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #5E5C7F;
  margin-right: 10px;
  font-size: 11px;
  float: left;
  margin-bottom: 10px;
}

#simple-search {
  padding-left: 35px;
}


////////////////////////////////////////
//////////// Social Media  /////////////
////////////////////////////////////////

.social-media-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  
  > .hidden-details-gradient {
    background: linear-gradient(to top, #5E5C7F, rgba(#5E5C7F, 0));
    height: 150px;
    width: 60%;
    transform: translate(23%);
    z-index: 101;
    bottom: 2.5rem;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  > .hidden-container {
    margin-left: -100px;
    margin-top: -100px;
    z-index: 101;
  }

  > .max-height {
    max-height: 100% !important;
  }

  > .min-height {
    max-height: 1200px !important;
  }
}

.social-media-section {
  padding: 10px 170px 40px;
  transition: ease-in-out;
}

.social-container {
  padding: 10px 60px 40px;
}

.social-media-header {
  position: relative;
  margin-top: 3rem;

  > .social-media-hardcover {
    width: 100%;
    height: 220px;
    background-color: #111;
    border-radius: 10px;
  }

  > .social-profile-image {
    position: absolute;
    width: 11rem;
    bottom: 12.5rem;
    left: 3rem;
  }
}

// .social-media-post {
//   position: relative;
//   z-index: 1;
//   padding: 2.2rem 2rem 2rem;
//   cursor: pointer;

//   > .animated-social-card {
//     background: linear-gradient(270deg, #ce68d9, #45c6db, #45db79);
//     background-size: 800% 800%;
//     -webkit-animation: animatedSocialCard 5s ease infinite;
//     -moz-animation: animatedSocialCard 5s ease infinite;
//     animation: animatedSocialCard 5s ease infinite;
//     transition: .6s ease-in-out;
//   }

//   &:after {
//     content: "";
//     width: 91%;
//     height: 86%;
//     position: absolute;
//     border-radius: 8px;
//     right: 0;
//     bottom: 6rem;
//     transition: 0.3s ease-in-out;
//     z-index: -1;
//     background-color: #353353;
//   }

//   &:hover:after {
//     width: 101%;
//     height: 100%;
//     bottom: 0;
//   }

//   > .social-post-icons {
//     margin-top: -1em;
//     transition: .3s ease-in-out;
//   }

//   &:hover .social-post-icons {
//     opacity: 1;
//     margin-top: 1em;
//   }
// }

.social-media-icons {

  > p {
    margin-right: 15px;
    color: #282c34;
    display: flex;
    align-items: center;
  }
}

@keyframes animatedSocialCard {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}


////////////////////////////////////////
///////////// Guestbooks ///////////////
////////////////////////////////////////

.guestbook-btn {
  align-items: center;
  transition: all .5s;
  border: none;
  background-color: transparent;
  --color: #e35d6a;

  > div {
    letter-spacing: 2px;
    font-weight: bold;
    background: var(--color);
    border-radius: 2rem;
    color: #fff;
    padding: 1rem;

    > .guestbook-icon {
      transform: translateX(-40%);
      transition: .5s;
      width: 0;
      opacity: 0;
    }
  }

  &:before {
    content: '';
    background-color: var(--color);
    border-radius: 2rem;
    width: 111%;
    height: 102%;
    position: absolute;
    transform: rotate(10deg);
    transition: .5s;
    opacity: 0.3;
  }

  &:hover {
    filter: brightness(1.2);

    &:before {
      transform: rotate(0deg);
      opacity: 1;
    }

    div {
      > .guestbook-icon {
        width: 25px;
        transform: translateX(0%);
        opacity: 1;
      }
    }
  }
}

////////////////////////////////////////
///////////// Heart Icon ///////////////
////////////////////////////////////////

.heart-container {
  --heart-color: rgb(255, 91, 137);
  position: relative;
  width: 50px;
  height: 50px;
  transition: .3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate .5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked~.svg-container .svg-filled {
  display: block
}

.heart-container .checkbox:checked~.svg-container .svg-celebrate {
  display: block
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

////////////////////////////////////////
///////////// Dino Game  ///////////////
////////////////////////////////////////


////////////////////////////////////////
////////////// Terminal ////////////////
////////////////////////////////////////



////////////////////////////////////////
//////////// Bottom Sheet //////////////
////////////////////////////////////////

.sticky-bottom-sheet {
  z-index: 999;
  position: fixed;
  transform: translateX(50%);
  height: calc(100vh + 88%);
  width: 66vw;
  border-radius: 12px 12px 0px;
  background: #fff;
  touch-action: none;
}