////////////////////////////////////////
/////////////Main Page Style////////////
////////////////////////////////////////

.content-container {
  height: 100vh;
  min-height: 100vh;
  display: block;
  overflow: auto;
  background-color: #f9f9ff;

}

.content-container-limited-width {
  // normal view bigger screen
  margin-left: 254px;

  // 15 inch laptop view bigger - 1800px
  @media (min-width: 1900px) {
    width: 72%;
    margin-left: 20%;
  }

  @media (min-width: 3000px) {
    width: 63%;
    margin-left: 26.5%;
  }

  @media (max-width: 599px) {
    width: 100%;
    margin-left: 0;
  }
}

/* Main Button Style */
.button {
  margin-top: 26px;
  border: 1px solid #ff3e28;
  padding: 10px 25px 10px 25px;
  border-radius: 45px;
  background: #ff3e28;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.button a {
  display: inline-block;
  padding: 2px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Shadow */
.shadow-dark {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}


/* Section Header Style */
.header-title {
  > span {
    margin-left: 3px;
    color: #ff3e28;
    font-size: 66px;
  }

  color: #454360;
  font-size: 32px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 99;
  margin-left: 15px;

  &:before {
    content: "";
    background-color: #ffd15c;
    display: block;
    height: 37px;
    left: -11px;
    top: 24px;
    position: absolute;
    width: 37px;
    z-index: -1;
  }
}

/* Padding */
.padding-30 {
  padding: 30px;
}

.rounded {
  border-radius: 20px !important;
}

/* Contact Me */
.contact-me {
  text-align: center;
  margin-top: 50px;
  font-family: "Rubik", sans-serif;
  color: #5E5C7F;

  > p a {
    color: #ff7769;
    text-decoration: none;
    transition: 0.4s ease-in-out;

    &:hover {
      color: #353353;
    }
  }
}

////////////////////////////////////////
///////////////Tools Style//////////////
////////////////////////////////////////

.btn-arrow {
  position: relative;

  > .icon-arrow {
    position: absolute;
    width: 1em;
    right: 0;
    opacity: 0 !important;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.4s ease-out;
    will-change: right, opacity;
  }

  &:hover .icon-arrow {
    opacity: 1 !important;
    right: -1.2em;
  }
}

.grab-cursor {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

